# ==============================================================
# Xilinx / AMD Vivado Build & Temporary Directories (IGNORE ALL)
# ==============================================================
*.cache/
*.hw/
*.ip_user_files/
*.runs/
*.sim/
*.dir/
*.data/
*.xpr

# ==============================================================
# Vivado Compilation Logs & Journals (IGNORE ALL)
# ==============================================================
*.jou
*.log
*.pb
*.wdb
*.str
*.lso
*.dcp
*.sycl
*.debug

# ==============================================================
# Operating System Junk Files
# ==============================================================
.DS_Store
Thumbs.db